.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 2em;
}

.input-container {
  border-bottom: 2px solid #d8d8d8;
  display: flex;
  padding: 1em;
}

input {
  padding: 1em;
}

p {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

ul {
  margin: 0;
}

.list {
  padding: 1em;
}

.list-item {
  padding: 1em;
  display: flex;
  background: white;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  box-shadow: 2px 2px 3px #d8d8d8;
  justify-content: flex-start;
}

.list-item--img {
  width: 100px;
  height: 135px;
  margin: 0;
  margin-right: 10px;
  text-align: center;
  flex-shrink: 0;
  align-self: center;
}

.list-item--img img {
  max-width: 100%;
  max-height: 135px;
  margin: 0 auto;
}

.list-item--info {
  justify-content: space-around;
  flex-direction: row;
}
